/* CSS Document */
body {
	padding-top: 10px;
	font-family: Roboto, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	
	background-color: #849d8f;
}

a {
	color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	
  	width: 1px;
	height: 1px;
	
	margin: -1px;
	padding: 0;
	
	border: 0;
	
	white-space: nowrap;
	
	-webkit-clip-path: inset(100%);
	
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	color: #fefefe;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	text-align: center;
	
	border: none;
	border-radius: 20px;
	
	background: -webkit-gradient( linear, left top, right top, from(#e74b36), to(#f26843));
	
	background: -webkit-linear-gradient( left, #e74b36 0%, #f26843 100%);
	
	background: -o-linear-gradient( left, #e74b36 0%, #f26843 100%);
	
	background: linear-gradient( 90deg, #e74b36 0%, #f26843 100%);
	
	-webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	
	        box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	
	cursor: pointer;
}

.button:hover,
.button:focus {
	background: -webkit-gradient( linear, left top, right top, from(#ec6f5e), to(#f58669));
	background: -webkit-linear-gradient( left, #ec6f5e 0%, #f58669 100%);
	background: -o-linear-gradient( left, #ec6f5e 0%, #f58669 100%);
	background: linear-gradient( 90deg, #ec6f5e 0%, #f58669 100%);
	
	-webkit-box-shadow: inset 0px -2px 2px 0px rgba(172, 16, 0, 1.0);
	
	        box-shadow: inset 0px -2px 2px 0px rgba(172, 16, 0, 1.0);
}

.button:active {
	background: -webkit-gradient( linear, left top, right top, from(rgb(242,104,67)), to(rgb(231,74,53)));
	background: -webkit-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background: -o-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1.0);
	
	        box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1.0);
}

.main-header {
	width: 1200px;
	
	padding: 0 27px;
	margin: auto;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	
	position: relative;
	
	z-index: 5;
}

.main-navigation {
	width: 100%;
	height: 60px;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.site-navigation,
.user-navigation,
.subdirectory-site-navigation-list {
	list-style: none;
}

.site-navigation {
	position: relative;
	
	margin: 0;
	padding: 0;
	margin-left: 10px;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
}

.site-navigation .site-navigation-item {
	display: block;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: underline;
	
	border-radius: 16px;
	
	padding: 6px 14px;
}

.site-navigation a.site-navigation-item {
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
	        text-decoration-color: rgba(255, 255, 255, 0.3);
}


.site-navigation-item-fon {
	display: block;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
	
	border-radius: 16px;
	
	padding: 6px 14px;
	
	background-color: #d07058;
}

.site-navigation-item:hover,
.site-navigation-item:focus {
	color: #323232;
	background-color: rgb(247, 246, 243);
	
	text-decoration: none;
}

.site-navigation-item:active {
	-webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1.0);
	        box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1.0);
	
	background-color: #ededed;
	
	text-decoration: none;
}

.time-phone {
	text-align: right;
	font-weight: bold;
}

.operating-time {
	margin: 4px 0;
}

.phone {
	margin: 0;
	padding: 0;
	
	font-size: 22px;
	line-height: 24px;
}

.site-navigation-item-fon {
	
}

.subdirectory-site-navigation-list {
	display: none;
}

.active:hover .subdirectory-site-navigation-list {
	position: absolute;
	top: 37px;
	left: -6px;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-ms-flex-wrap:  wrap;
	    flex-wrap:  wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	
	border-radius: 5px;
	
  	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	
  	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	
	margin: 0;
	padding: 0;
	
 	width: 143px;
	
	background-color: #f8f7f4;
	
	z-index: 10;
}

.subdirectory-site-navigation-list li {
	width: 100%;
}

.subdirectory-site-navigation-list a {
	display: block;
	
	color: rgb(50, 50, 50);
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	
	padding: 6px 0px 6px 21px;
}

.subdirectory-border-top {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.subdirectory-border-bottom {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.subdirectory-site-navigation-item {
	color: #323232;
	font-weight: bold;
}

.subdirectory-site-navigation-list .subdirectory-fon:hover,
.subdirectory-site-navigation-list .subdirectory-fon:focus {
	background-color: #fbded7;
}

.subdirectory-fon-creamy {
	background-color: #d07058;
}

.subdirectory-site-navigation-list hr {
	width: 128px;
	height: 1px;
	
	border: none;
	
	margin: 0 auto;
	padding: 0;
	
	background-color: #d1d0ce;
}

.subdirectory-site-navigation-list .subdirectory-fon:active {
	background-color: #f6b5a5;
}

.user-navigation {
	font: inherit;
	
	margin: 0;
	padding: 0;
	
	margin-left: auto;
	margin-right: 2px;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	
	z-index: 100;
}

.user-navigation li {
	margin-left: 10px;
	font-weight: 500;
}

.user-navigation a {
	color: #ffffff;
	text-decoration: none;
	
	background-color: rgba(255, 255, 255, 0.2);
	
	border-radius: 16px;
	
	display: block;
}

.user-search {
	position: relative;
	
	padding: 8px;
	
	width: 16px;
	height: 16px;
	
}

.user-logo {
	position: relative;
	
	padding: 8px 15px 8px 45px;
}

.user-logo svg {
	position: absolute;
	top: 6px;
	left: 16px;
}

.user-basket {
	position: relative;
	
	padding: 8px 15px 8px 45px;
}

.user-basket.user-basket-full {
	background-color: #f7f6f3;
	
	color: #323232;
}

.user-basket svg {
	position: absolute;
	top: 6px;
	left: 16px;
}

.user-navigation a:hover,
.user-navigation a:focus {
	color: #323232;
	
	background-color: #f8f7f4;
}

.user-search:hover path,
.user-search:focus path,
.user-logo:hover path,
.user-logo:focus path,
.user-logo:hover polygon,
.user-logo:focus polygon,
.user-basket:hover g,
.user-basket:focus g {
	fill: #000000;
}

.main-breadcrumbs-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	position: absolute;
	top: 20px;
	
	list-style: none;
	
	margin: 0;
	padding: 0;
}

.main-breadcrumbs-list li {	
	margin-right: 7px;
}

.main-breadcrumbs-list p {
	margin: 0;
	padding: 0;
}

.main-breadcrumbs-list a {
	-webkit-text-decoration-color: #aebeb5;
	        text-decoration-color: #aebeb5;
}

.main-breadcrumbs-list a:hover,
.main-breadcrumbs-list a:focus,
.main-breadcrumbs-list a:active {
		color: #ffbc9e;
	-webkit-text-decoration-color: #ffbc9e;
	        text-decoration-color: #ffbc9e;
}

.container h1 {
	font-size: 35px;
	margin: 0;
	margin-bottom: 33px;
	
	line-height: 41px;
}

.main-catalog-goods {
	width: 100%;
	margin-bottom: 0px;
}

.inner-page .main-catalog-goods {
	width: 100%;
	margin-bottom: 80px;
}

.catalog-goods-list {
	list-style: none;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	margin: 0;
	padding: 0;
}

.catalog-goods-list li {
	width: 293px;
	height: 365px;
	
	position: relative;
}

.catalog-goods-list li:first-child,
.catalog-goods-list li:nth-child(1n),
.catalog-goods-list li:nth-child(2n){
	width: 270px;
}

.catalog-goods-items:hover div {
	display: block;
	
	position: absolute;
	
	width: 100%;
	height: 405px;
	
	border-radius: 5px;
	
  	background-color: rgba(248, 247, 244, 0.2);
	
  	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
	
  	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
	
	z-index: 20;
}

.hit-logo {
	display: block;
	
	position: absolute;
	top: 0;
	z-index: 27;
	
	width: 61px;
	height: 61px;
	
	background-image: url(../img/hit.svg);
	background-repeat: no-repeat;
	background-color: #ffffff;
	
	border-radius: 50%;
}

.catalog-goods-items-wrapper img {
	display: block;
	
	margin: auto;
}

.quick-view {
	display: none;
}

.catalog-goods-items:hover .quick-view {
	display: block;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	
	width: 200px;
	
	text-decoration: none;
	text-align: center;
	
	margin: auto;
	padding: 10px 10px;
	
	position: relative;
	z-index: 21;
}

.catalog-item-prace {
	position: absolute;
	top: 209px;
	left: 0px;
	
	font-size: 45px;
	line-height: 45px;
	
	margin: 0;
	
	z-index: 25;
}

.catalog-goods-item1 {
	display: block;
	text-align: center;
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
	        text-decoration-color: rgba(255, 255, 255, 0.3);
}

.catalog-goods-item1 h3 {
	position: relative;
	z-index: 23;
}

.catalog-goods-list h3 {
	font-size: 16px;
	line-height: 22px;
	
	margin: 0;
	margin: 13px 0px 14px 0px;
	
	padding: 0 6px;
}

.catalog-goods-item1:hover,
.catalog-goods-item1:focus {
	color: #ffbc9e;
	-webkit-text-decoration-color: rgba(255, 204, 153, 0.3);
	        text-decoration-color: rgba(255, 204, 153, 0.3);
}

.modal {
	color: #000000;
	line-height: 24px;
	
	background-color: #f8f7f4;
	
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal input::-webkit-input-placeholder { color: #999999; font-weight: normal; opacity: 1;}
.modal input:-ms-input-placeholder { color: #999999; font-weight: normal; opacity: 1; }
.modal input::-ms-input-placeholder { color: #999999; font-weight: normal; opacity: 1; }
.modal input::placeholder { color: #999999; font-weight: normal; opacity: 1; }

.modal textarea::-webkit-input-placeholder { color: #999999; font-weight: normal; opacity: 1;}
.modal textarea:-ms-input-placeholder { color: #999999; font-weight: normal; opacity: 1; }
.modal textarea::-ms-input-placeholder { color: #999999; font-weight: normal; opacity: 1; }
.modal textarea::placeholder { color: #999999; font-weight: normal; opacity: 1; } 

.modal input {	
	border-style: solid;
	border-width: 1px;
	border-color: rgba(178, 178, 178, 0.5);
	border-radius: 5px;
	
	height: 42px;
	
	background-color: transparent;
}

.modal-search {
	display: none;
}

.user-navigation-search {
	position: relative;
}

li.user-navigation-search:hover .modal-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	position: absolute;
	top: 36px;
	right: 0px;	
	
	-webkit-box-sizing: border-box;	
	
	        box-sizing: border-box;
	
	width: 341px;
	height: 84px;
	
	padding: 20px 15px;
	
	border-radius: 5px;
}

.modal-search form {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
}

.modal-search input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	width: 100%;
}

.modal-search p {
	margin: 0;
}

.modal-search input {
	padding-left: 14px;
}

.user-navigation-inner {
	position: relative;
}

.modal-login {
	display: none;
}

.user-navigation-inner:hover .modal-login {
	position: absolute;
	top: 35px;
	right: 0;
	
	display: block;
	
	width: 277px;
	height: 214px;
	
	border-radius: 6px;
	
	background-color: rgb(248, 247, 244);
	
	padding: 20px;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	
	z-index: 200;
}

.modal-login form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: justify;
	    align-content: space-between;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	
	height: 176px;
}

.modal-login input {
	width: 100%;
	
	padding-left: 14px;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
}

.login-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	width: 100%;
}

.login-button p {
	margin: 0;
	padding: 0;
	
	width: 119px;
}

.login-button a {
	color: #323232;
	
	font-size: 13px;
	line-height: 24px;
}

.login-button a:hover,
.login-button a:focus,
.login-button a:active {
	color: #ffbc9e;
}

.buttom-login {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	
	width: 100px;
	height: 44px;
	
	cursor: pointer;
}
/* Всплывающий блок, обратная связь */
.feedback-overlay {
	display: none;
}

.modal-feedback {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	
	-webkit-box-orient: vertical;
	
	-webkit-box-direction: normal;
	
	    -ms-flex-direction: column;
	
	        flex-direction: column;
	
	position: fixed;
	top: 338px;
	left: 50%;
	z-index: 100;
	
	font-size: 16px;
	line-height: 24px;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	
	width: 477px;
	height: 442px;
	
	border-radius: 10px;
	
	padding: 25px;
	margin-left: -238px;
}

.modal-feedback input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	width: 100%;
	height: 44px;
	
	margin-bottom: 20px;
	
	padding-left: 14px;
}

.modal-feedback textarea {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	width: 100%;
	height: 150px;
	
	margin-bottom: 20px;
}

.modal-feedback h2 {
	font-size: 24px;
	line-height: 28px;
	
	margin: 0;
	margin-bottom: 20px;
}

.modal-feedback p {
	margin: 0;
}

.feedback-closs {
	display: block;
	
	position: absolute;
	top: 15px;
	right: 15px;

	width: 18px;
	height: 18px;
	
	border: none;
	
	margin-right: 7px;
	
	background: url(../img/cross-big.svg) no-repeat center center;
	
	cursor: pointer;
}

.buttom-feedback {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	
	padding: 10px 16px;
	
	float: right;
}

.modal textarea {
	border-style: solid;
	border-width: 1px;
	border-color: rgba(178, 178, 178, 0.5);
	border-radius: 5px;
	
	background-color: transparent;
	
	padding: 14px;
}

.modal input:hover,
.modal textarea:hover {
	border-color: rgba(154, 154, 154, 0.52);
	border-width: 2px;
}

.modal input:focus,
.modal textarea:focus {
	border-color: rgba(46, 136, 228, 0.52);
	border-width: 2px;
}

.modal input,
.modal textarea {
	font-weight: bold;
}

.modal a {
	color: #323232;
	font-size: 13px;
	line-height: 24px;
}

.user-navigation-basket {
	position: relative;
}

.modal-basket {
	display: none;
}

.user-navigation-basket:hover .modal-basket {	
	display: block;
	
	position: absolute;
	top: 35px;
	right: 0;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	
	padding: 20px 15px;
	
	width: 539px;
	
	border-radius: 6px;
	
	z-index: 250;
}

.modal .order-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	
	list-style: none;
	font-size: 13px;
	line-height: 16px;
	
	padding: 0;
	margin: 0;
	
	border-bottom: 1px solid #cacac7;
}

.order-list a {
	color: #323232;
	text-decoration: none;
	line-height: 16px;
}

.order-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	margin-bottom: 15px;
}



.order-item-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	min-height: 35px;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	
	width: 270px;
	
	padding: 0;
	padding-left: 47px;
}

.orange {
	background-image: url(../img/product1-icon.png);
	background-repeat: no-repeat;
}

.strawberry {
	background-image: url( ../img/product3-icon.png);
	background-repeat: no-repeat;
}

.modal .order-item-name:hover,
.modal .order-item-name:focus,
.modal .order-item-name:active {
	color: #ffbc9e;
	text-decoration: underline;
}

.order-item-closs {
	width: 11px;
	height: 11px;
	
	border: none;
	
	margin-right: 7px;
	
	background: url(../img/cross-small.svg) no-repeat center center;
	
	cursor: pointer;
}

.order-item-price {
	margin-right: 20px;
}

.modal span {
	color: #999999;
}

.modal .order-final-price {
	font-size: 15px;
	line-height: 18px;
	
	margin: 13px 0;
	text-align: right;
}

.button-order {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	
	padding: 10px 16px;
	float: right;
}

.container {
	
	width: 1200px;
	
	padding: 0 27px;
	margin: 0 auto;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	
	position: relative;
	
	z-index: 4;
}

.gratis {
	padding: 23px 19px;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	
	border-radius: 15px;
	
	width: 560px;
	height: 220px;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.gratis h2 {
	font-size: 35px;
	line-height: 41px;
	
	margin: 0;
}

.gratis p {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

.raspberry {
	background-image: url(../img/fon-raspberry.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.chocolate {
	background-image: url(../img/fon-chocolate.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.chocolate p {
	font-weight: normal;
}

.button-raspberry {
	padding: 10px 22px;
	
	margin-top: auto;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	
	-ms-flex-item-align: end;
	
	    align-self: flex-end;
}

.button-chocolate {
	padding: 10px 22px;
	
	margin-top: auto;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	
	-ms-flex-item-align: end;
	
	    align-self: flex-end;
}

.description-shop {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	
	border-radius: 13px;
	
	padding: 24px 20px;
	margin-bottom: 40px;
	
	background-image: url(../img/waffle-fon.png);
	background-repeat: repeat;
	
	height: 257px;
}

.description-shop-list {
	list-style: none;
	
	height: 198px;
	
	padding: 0;
	margin: 0;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-ms-flex-wrap:  wrap;
	    flex-wrap:  wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between
		
}

.description-shop-list li {
	width: 540px;
	height: auto;
	
	padding-left: 57px;
	padding-top: 12px;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
}

.description-shop-list p {
	margin: 0;
	padding: 0;
}

.description-shop h1 {
	font-size: 24px;
	line-height: 30px;
	
	margin: 0;
	margin-bottom: 9px;
}

.description-logo-production {
	background-image: url( ../img/cream-icon.svg);
	background-repeat: no-repeat;
}

.description-logo-ingredients {
	background-image: url( ../img/cow-icon.svg);
	background-repeat: no-repeat;
}

.description-logo-buy {
	background-image: url( ../img/sheet_icon.svg);
	background-repeat: no-repeat;
}

.description-logo-thermometer {
	background-image: url( ../img/thermometer_icon.svg);
	background-repeat: no-repeat;
}

.new {
	padding: 23px 19px;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	
	color: #323232;
	
	border-radius: 15px;
	
	width: 560px;
	height: 220px;
	
	background-color: #ffffff;
	background-image: url(../img/strawberry_background.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.new-subscription-wrapper,
.gratis-product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	width: 100%;
	
	margin-bottom: 40px;
}

.new p {
	margin: 0;
}

.new span {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.new-serving {
	display: inline-block;
	
	width: 289px;
	
	margin-top: 3px;
	
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.new-serving:hover,
.new-serving:focus,
.new-serving:active {
	color: #e84d37;
}

.subscription {
	position: relative;
	
	width: 560px;
	height: 220px;
	
	background-image: url(../img/mail-background.jpg);
	background-repeat: no-repeat;
	
	border-radius: 15px;
}

.subscription-nested {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	position: absolute;
	top: 5px;
	left: 5px;
	
	border-radius: 15px;
	
	padding: 20px;
	padding-top: 30px;
	
	width: 549px;
	height: 210px;
	
	background-color: #f8f7f4;
}

.subscription-nested form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	min-height: 50px;
	
	margin-top: 32px;
}

.subscription-nested p {
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
	
	margin: 0;
	padding: 0;
		
}

.subscription-form-input {
	width: 100%;
}

.subscription-form-input input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	
	width: 100%;
	height: 40px;
	
	border-width: 1px;
	border-color: #d3d3d2;
	border-style: solid;
	border-radius: 5px;
	
	padding-left: 14px;
}

.button-subscription {
	width: 130px;
	
	margin-left: 12px;
	
	font-size: 18px;
	line-height: 24px;
	
	padding: 10px 20px;
}

.subscription-nested input::-webkit-input-placeholder { color: #999999; font-weight: normal;}
.subscription-nested input:-ms-input-placeholder { color: #999999; font-weight: normal; }
.subscription-nested input::-ms-input-placeholder { color: #999999; font-weight: normal; }
.subscription-nested input::placeholder { color: #999999; font-weight: normal; }

.subscription-nested input:hover {
	border-color: #c7c6c5;
	border-width: 2px;
}

.subscription-nested input:focus {
	border-color: #8fbdec;
	border-width: 2px;
}

.map {
	width: 1200px;
	height: 430px;
	
	margin: 0 auto;
	
	position: relative;
}

.map svg {
	position: absolute;
	top: 138px;
	left: 266px;
}

.block-address {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	position: absolute;
	top: 62px;
	right: 27px;
	
	width: 302px;
	height: 305px;
	
	background-color: #ffffff;
	
	border-radius: 15px;
	
	padding: 30px 25px;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	
	color: #323232;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.block-address p {
	margin: 0;
}

.block-address span {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
}

.button-address {	
	color: #fefefe;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	
	padding: 10px;
	
	width: 100%;
}



.main-footer {
	background-color: #849d8f;
	
	height: 107px;
	
	width: 1200px;
	margin: auto;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	
	padding: 0;
	margin: 0;
	
	width: 100%;
	height: 100%;
	
	background-color: rgba(0, 0, 0, 0.3);
}
.footer-block-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	width: 1146px;
	
	margin: auto;
	height: 100%;
	
	border-top: 1px solid #849d8f;
}

.inner-page .footer-block-wrapper {
	border-top: 1px solid #a9bbb1;
}

.footer-social ul,
.footer-info ul {
	list-style: none;
	text-align: center;
	
	margin: 0;
	padding: 0;
}

.footer-social-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-social-item li {
	margin-right: 11px;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	color: #849d8f;
	text-decoration: none;
	
	border-width: 3px;
	border-style: solid;
	border-color: #c2cec7;
	border-radius: 50%;
	
	margin: 0;
	padding: 0;
	
	width: 32px;
	height: 32px;
	
	position: relative;
	}

.social-button svg {
	position: absolute;
	top: 50%;
	left: 50%;
	
	margin: -50%;
}

@-moz-document url-prefix() {
.social-button svg {
	position: absolute;
	top: 50%;
	left: 50%;
	
	margin: -49%;
}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   /* IE10 IE11 */.social-button svg {
	position: absolute;
	top: 50%;
	left: 50%;
	
	margin: -49%;
}
}

.social-button path {
	fill: #e6ebe9;
}

.social-button:hover path,
.social-button:focus path {
	fill: #ffffff;
}

.social-button:active path {
	fill: #e9e9e9;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
	border-color: #dae2de;
}

.footer-info {
	width: 327px;
	
	margin-left: 204px;
}

.footer-info a {
	color: #ffffff;
	line-height: 18px;
	font-size: 13px;
}

.heart {
	position: relative;
}

.heart::before {
	position: absolute;
	top: 2px;
	left: -22px;
	display: block;
	content: "";
	
	width: 15px;
	height: 13px;
	
	background: url(../img/heart-icon.svg) no-repeat center center;
}

.footer-info-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
}

.footer-info-list li {
	padding-left: 23px;
	margin-bottom: 4px;
}

.footer-info-list li:first-child {
	margin-right: 7px;
}

.footer-info-item {
	font-weight: bold;
}

li.footer-info-item-last {
	margin-left: auto;
}

.footer-info a {
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
	        text-decoration-color: rgba(255, 255, 255, 0.3);
}

.footer-info a:hover,
.footer-info a:focus,
.footer-info a:active {
	color: #ffbc9e;
	-webkit-text-decoration-color: rgba(255, 204, 153, 0.3);
	        text-decoration-color: rgba(255, 204, 153, 0.3);
}

.footer-copyright {
	font-size: 12px;
	line-height: 10px;
	font-style: normal;
	
	height: 73px;
	width: 192px;
	
	margin-left: 232px;
}

.htmllogo {
	margin: 0;
	padding: 0;
}

.footer-copyright a {
	display: inline-block;
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
	        text-decoration-color: rgba(255, 255, 255, 0.3);
}

.footer-copyright img {
	margin-left: 2px;
}

.footer-copyright p {
	margin: 0;
	margin-top: 7px;
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
	color: #ffbc9e;
	
	-webkit-text-decoration-color: rgba(255, 204, 153, 0.3);
	
	        text-decoration-color: rgba(255, 204, 153, 0.3);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.slider {
	position: relative;
	top: 0;
	
	text-align: center;
	
	margin: 0 auto;
	margin-top: -118px;
	margin-bottom: -170	px;
	
	width: 1146px;
	height: 881px;
	
	z-index: 1;
}
}

.slider {
	position: relative;
	top: 0;
	
	text-align: center;
	
	margin: 0 auto;
	margin-top: -118px;
	margin-bottom: -230px;
	
	width: 1146px;
	height: 881px;
	
	z-index: 1;
}

.slider-inner {	
	overflow: hidden;
	
	width: 100%;
	height: 100%;
	
	/*border: 1px solid;*/
}

.slider-slides {
	width: 300%;
}

.slider-item {
	width: 1146px;
	height: 881px;
	
	float: left;
}

.slider-item h1 {
	font-size: 60px;
	line-height: 60.35px;
	
	width: 680px;
	
	margin: 0 auto;
	margin-top: 400px;
	margin-bottom: 30px;
}

.button-slider {
	display: inline-block;
	
	font-size: 32px;
	font-weight: bold;
	
	margin: 0 auto;
	margin-bottom: 40px;
	
	width: 280px;
	height: 64px;
	
	border-radius: 32px;
}

.slider-item1 {
	background:  url(../img/creme-brulee.png) no-repeat 250px 80px, url(../img/plombir.png) no-repeat 570px 130px, -webkit-radial-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 60%);
	background:  url(../img/creme-brulee.png) no-repeat 250px 80px, url(../img/plombir.png) no-repeat 570px 130px, -o-radial-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 60%);
	background:  url(../img/creme-brulee.png) no-repeat 250px 80px, url(../img/plombir.png) no-repeat 570px 130px, radial-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 60%);
}

.slider-item2 {
	background:  url(../img/img1-slider-item2.png) no-repeat 250px 80px, url(../img/img2-slider-item2.png) no-repeat 570px 130px, -webkit-radial-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 60%);
	background:  url(../img/img1-slider-item2.png) no-repeat 250px 80px, url(../img/img2-slider-item2.png) no-repeat 570px 130px, -o-radial-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 60%);
	background:  url(../img/img1-slider-item2.png) no-repeat 250px 80px, url(../img/img2-slider-item2.png) no-repeat 570px 130px, radial-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 60%);
}

.slider-item3 {
	background:  url(../img/img1-slider-item3.png) no-repeat 250px 80px, url(../img/img2-slider-item3.png) no-repeat 570px 130px, -webkit-radial-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 60%);
	background:  url(../img/img1-slider-item3.png) no-repeat 250px 80px, url(../img/img2-slider-item3.png) no-repeat 570px 130px, -o-radial-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 60%);
	background:  url(../img/img1-slider-item3.png) no-repeat 250px 80px, url(../img/img2-slider-item3.png) no-repeat 570px 130px, radial-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 60%);
}

.slider-switch {
	position: absolute;
	top: 568px;
	
	z-index: 2;
}

.slider input {
	display: none;
}

.slider-switch label {
	display: inline-block;
	
	width: 21px;
	height: 21px;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	
	border: 1px solid #fff;
	border-radius: 50%;
}

#btn-1:checked ~ .slider-switch label[for="btn-1"], 
#btn-2:checked ~ .slider-switch label[for="btn-2"], 
#btn-3:checked ~ .slider-switch label[for="btn-3"] {
	background-color: #ffffff;
}

.slider-switch label:hover,
.slider-switch label:focus {
	cursor: pointer;
	
	border-color: #fefefd;
	background-color: rgba(255, 255, 255, 0.4);
}

.slider-switch label[for="btn-2"] {
}

#btn-1:checked ~ .slider-inner .slider-slides {
	-webkit-transform: translate(0px);
	    -ms-transform: translate(0px);
	        transform: translate(0px);
}

#btn-2:checked ~ .slider-inner .slider-slides {
	-webkit-transform: translate(-1146px);
	    -ms-transform: translate(-1146px);
	        transform: translate(-1146px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
	-webkit-transform: translate(-2292px);
	    -ms-transform: translate(-2292px);
	        transform: translate(-2292px);
}
